<div th:fragment="addMembersFragment(chatroomId, query, users)" class="container my-5">
    <hr>
    <h4 class="mt-4">Add Members</h4>

    <form class="mb-4" th:action="@{/chatrooms/{id}/search-members(id=${chatroomId})}" method="get">
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search users..."
                   th:value="${query}">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <div th:if="${!#lists.isEmpty(users)}">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <form th:action="@{/chatrooms/{chatroomId}/add-member/{userId}(chatroomId=${chatroomId}, userId=${user.id})}" method="post">
                        <button type="submit" class="btn btn-success btn-sm">Add</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
