<div th:fragment="chatroomManagment(chatroomType, chatroomId, editNameMode)">
<div class="container my-5">
        <div th:replace="fragments/chatroom/show-members :: chatroomMembers"></div>
    </div>
    <div th:if="${chatroomType == 'GROUP'}">
        <div th:replace="~{fragments/chatroom/search-and-found-users :: addMembers('Add Members to Chatroom',
                                                                        ${query},
                                                                        ${users},
                                                                        |/chatrooms/${chatroomId}/search-members|,
                                                                        |/chatrooms/${chatroomId}/add-member/|,
                                                                        'Add')}">
        </div>
    </div>
</div>

