<div th:fragment="chatroomManagment(chatroomType)">
    <div class="container my-5">
        <div th:replace="fragments/chatroom/show-members :: chatroomMembers"></div>
    </div>
    <div th:if="${chatroomType == 'GROUP'}">
<!--        <div th:replace="~{fragments/chatroom/add-members :: addMembers(${chatroomId}, ${query}, ${users})}"></div>-->
        <div th:replace="~{fragments/chatroom/add-members :: addMembers(${chatroomId},
                                                                        ${query},
                                                                        ${users},
                                                                        |/chatrooms/${chatroomId}/search-members|,
                                                                        |/chatrooms/${chatroomId}/add-member|,
                                                                        'Add')}">

        </div>
    </div>
</div>
